$dark-bg:#1e3259;
$darkest:#0d1326;
$medium-blue:#3f61a6;
$light-blue: #6c91d9;
$roku-yellow: #f2c8a2;

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  