.kidsHide {
    overflow: hidden;
}

.kids {
    background-color: $light-blue;
}

.kidsIcon {
    color: $roku-yellow;
    margin-left: 1em;
}

.kidsYellow {
    background-color: $medium-blue;
}


// all video
iframe {
    margin-bottom: 7em;
}