.user-message { 
    margin: 0.8em 0 1.2em; 
    color: white; 
}

.cards { 
    cursor: pointer;  
    color: #333; 
    background-color: white;
    border: 3px solid darken($medium-blue, 10%);
    margin-bottom: 0.5em;
    padding-bottom: 2em;
}


.userName {
    margin: 1em 0 0 0;
    color: #222;
}
